services:
  database:
    image: mysql:9.2
    container_name: database-mysql92
    volumes:
      - data-mysql92:/var/lib/mysql
      # - ./my.cnf:/etc/mysql/conf.d/my.cnf
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    ports:
      - "3306:3306"
    expose:
      - "3306"
    networks:
      - unand_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-mysql92
    environment:
      - PMA_HOST=database
      - PMA_PORT=3306
      - PMA_USER=root
      - PMA_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - PMA_ARBITRARY=1
    ports:
      - "8081:80"
    depends_on:
      - database
    networks:
      - unand_network

networks:
  unand_network:
    external: true

volumes:
  data-mysql92:
